.error-message {
    color:  red;
    text-align: center;
    font-size: 15px;
    padding: 5px 0 5px 0;
    margin-bottom: 0;
}

.margin-5px{
    margin: 5px 5px 5px 5px;
}

 .select-custom-ant {
    display: inline-block;
    width: 100%;
    height: 31.32px;
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    font-size: 14px;
    border-radius: 2px;
    transition: all 0.3s;
    line-height: 1.5715;
    background-color: #fff;
    min-width: 0;
    list-style: none;
    font-variant: tabular-nums
 }
 